body {
    font-family: Arial, sans-serif;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.image-container {
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    aspect-ratio: 0.75; /* Adjust as needed for your rug aspect ratio */
}

.image-container:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image-container img {
    width: 100%;
    height: 100%; /* Fill the container */
    display: block;
    object-fit: contain; /* Show the entire image */
    transition: transform 0.5s ease;
}

.image-container:hover img {
    transform: scale(1.2); /* Adjust zoom level */
}

.image-container p {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    background-color: transparent;
    color: black;
}

header {
    text-align: center;
    padding: 20px 0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}

footer a {
    color: #fff;
    text-decoration: underline;
}